.done-true {
  text-decoration: line-through;
  color: grey;
}

.card{
  margin-top: 10px;
  margin-bottom: 25px;
}

body{
  background-color: blue;
}

li:hover{
  background-color: #f3f3f3;
}

.alert{
  margin-top: 15px;
}

.list-pane{
  width: 250px;
  border-right: 1px solid #dbdbdb;
}

li.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

nav{
  background-color: #345c9b;
}

.navbar-brand{
  color: #f3f3f3;
}

a:hover{
  cursor: pointer;
}

a:not([href]):not([tabindex]){
  color: #007bff !important;
}

h2{
  padding-top: 10px;
}

.tasks-pane ul{
  margin: 15px 0;
}

.tasks-pane{
  padding: 0 15px;
}

button.btn-round{
  margin: 10px;
  border-radius: 1.2rem;
  box-shadow: 0px 5px #a8dbcb;
}

.list-pane li.list-group-item:first-child {
    border-top-right-radius: .7rem;
}

.list-pane .list-group-item:last-child {
    border-bottom-right-radius: .7rem;
    border-bottom-left-radius: 0;
}

.list-pane li {
    background-color: #ffae00;
    border-radius: 0 .7rem .7rem 0;
    margin: 5px 10px 5px 0px;
    border: 2px solid #ff8c11;
    border-left: none;
}
