.done-true {
  text-decoration: line-through;
  color: grey;
}

.card{
  margin-top: 10px;
  margin-bottom: 25px;
}

body{
  background-color: blue;
}

li:hover{
  background-color: #f3f3f3;
}

.alert{
  margin-top: 15px;
}

.list-pane{
  width: 250px;
}

li.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

nav{
  background-color: #345c9b;
}

.navbar-brand{
  color: #f3f3f3;
}

a:hover{
  cursor: pointer;
}

a:not([href]):not([tabindex]){
  color: #007bff !important;
}

h2{
  padding-top: 10px;
}

.tasks-pane ul{
  margin: 15px 0;
}

.tasks-pane{
  padding: 0 15px;
}
