.alert{
  margin-top: 15px;
}

nav{
  background-color: #345c9b;
}

.navbar-brand{
  color: #f3f3f3;
}

a.navbar-brand:hover{
  color: #f3f3f3;
}

a:hover, .btn{
  cursor: pointer;
}

h2{
  padding-top: 10px;
}

.tasks-pane ul{
  margin: 15px 0;
}

.tasks-pane{
  padding: 0 15px;
}

button.btn-round{
  margin: 10px;
  border-radius: 1.2rem;
  box-shadow: 0px 5px #a8dbcb;
}

/*** List Side Bar ***/

.list-pane li.list-group-item:first-child {
  border-top-right-radius: 1.7rem;
}

.list-pane{
  width: 250px;
  border-right: 1px solid #dbdbdb;
}

.list-pane .list-group-item:last-child {
  border-bottom-right-radius: 1.7rem;
  border-bottom-left-radius: 0;
}

.list-pane li {
  background-color: #EEEEFF;
  border-radius: 0 1.7rem 1.7rem 0;
  margin: 5px 10px 5px 0px;
  border-left: none;
}

.list-pane .btn-group button.btn {
  background-color: transparent;
}

.list-pane .list-group-item{
  padding: .5rem 1.25rem;
}

.list-pane li.list-group-item:hover {
    background-color: #9FA2B2;
    color: #fff !important;
}

/*** Other ***/
